.header {
  color: #fff;
  text-align: center;
  background-color: rgba(0, 71, 144, .7);
  padding: 20px;
  max-height: 280px;
}

.header .logo img{
  display: block;
  margin: 20px auto;
  max-height: 220px;
}

.header .subtitle {
  position: relative;
  margin: 0 auto;
  display: block;
  top: -80px;
}

.header a {
  color: #ACBAC9;
  font-weight: bold;
  text-decoration: none;
}